<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy or Rent your dream home</title>
    <link rel="shortcut icon" href="/assests/home-pin.svg" type="image/svg">
    <link rel="stylesheet" href="/output.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
</head>

<body class="font-sans m-0 p-0 cursor-default">
    <nav class="h-20 text-xl flex justify-around items-center 
    bg-skyblue xsm:grid xsm:grid-cols-2 xsm:h-32">
        <div class="logo xsm:ml-6">
            <!-- <span class="material-symbols-sharp">
                home_pin
                </span> -->
            <img src="/assests/home-pin.svg" alt="">
        </div>
        <div class="mid-nav bg-gcolor rounded-full w-1/3 text-center flex justify-center items-center h-14 xsm:order-3 xsm:col-span-2 xsm:w-screen">
            <ul class="flex space-x-5 xsm:space-x-2">
                <li><a class="hover:text-f_text_color" href="">Home</a></li>
                <li><a class="hover:text-f_text_color" href="">Properties</a></li>
                <li><a class="hover:text-f_text_color" href="">Service</a></li>
                <li><a class="hover:text-f_text_color" href="">About</a></li>
                <li><a class="hover:text-f_text_color" href="">Contact</a></li>
            </ul>
        </div>
        <div class="btn xsm:flex xsm:mr-6 xsm:justify-end">
            <button class="flex items-center"><img src="/assests/person.svg" alt="account">sign in</button>
        </div>
        </div>
    </nav>

    <main>
        <section class="#home bg-skyblue relative">
            <div class="flex justify-between items-center xsm:grid xsm:grid-cols-1">
                <div class="text ml-20 max-w-96 xsm:m-10">
                    <div class="title text-4xl font-extrabold max-w-72">
                        LOCATE YOUR DREAM HOME
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique possimus incidunt magni optio
                        quos nobis numquam vero quia voluptatem voluptatum.</p>
                    <div class="xsm:flex xsm:justify-center xsm:mb-4"> 
                    <button class="bg-btncolor text-white w-48 h-12 rounded-full mt-12">Explore</button></div>
                </div>
                <div class="img w-1/2 xsm:order-first xsm:w-screen">
                    <img src="/assests/house-5.png" alt="">
                </div>
            </div>
            <div
                class="icon-list absolute flex justify-around w-9/12 bg-gcolor -bottom-11 ml-40 rounded-full h-20 items-center child:grid child:justify-items-center child:hover:cursor-pointer xsm:w-screen xsm:m-0 xsm:p-4">
                <div>
                    <div class="bg-blue-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-blue-600 xsm:p-1">
                            home_work
                        </span>
                    </div>
                    <p class="xsm:text-xs">All</p>
                </div>
                <div>
                    <div class="bg-purple-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-purple-600 xsm:p-1">
                            distance
                        </span>
                    </div>
                    <p class="xsm:text-xs">Landlots</p>
                </div>
                <div>
                    <div class="bg-orange-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-orange-600 xsm:p-1">
                            location_city
                        </span>
                    </div>
                    <p class="xsm:text-xs">Office</p>
                </div>
                <div>
                    <div class="bg-green-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-green-400 xsm:p-1">
                            storefront
                        </span>
                    </div>
                    <p class="xsm:text-xs">Shop</p>
                </div>
                <div>
                    <div class="bg-pink-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2  text-pink-600 xsm:p-1">
                            apartment
                        </span>
                    </div>
                    <p class="xsm:text-xs">Apartment</p>
                </div>
                <div>
                    <div class="bg-amber-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-amber-600 xsm:p-1">
                            villa
                        </span>
                    </div>
                    <p class="xsm:text-xs">Villa</p>
                </div>
                <div>
                    <div class="bg-green-200 text-center h-10 w-10 rounded-full xsm:w-8 xsm:h-8">
                        <span class="material-symbols-sharp p-2 text-green-600 xsm:p-1">
                            home
                        </span>
                    </div>
                    <p class="xsm:text-xs">House</p>
                </div>
            </div>
        </section>
        <section class="xsm:w-screen">
            <div class="flex  mt-16 xsm:grid xsm:grid-cols-1">
                <div class="images flex w-800 ml-60 xsm:p-2 xsm:m-0 xsm:w-screen">
                    <div
                        class="bg-[url('/assests/house-3.jpg')] bg-cover bg-center w-32 h-500 rounded-2xl border-gcolor border-2 transition-all ease-out hover:w-500 cursor-pointer">
                    </div>
                    <div
                        class="bg-[url('/assests/house-1.jpg')] bg-cover bg-center w-32 h-500  rounded-2xl border-gcolor border-2 transition-all ease-out hover:w-500 cursor-pointer">
                    </div>
                    <div
                        class="bg-[url('/assests/house-2.jpg')] bg-cover bg-center w-32 h-500 rounded-2xl border-gcolor border-2 transition-all ease-out hover:w-500 cursor-pointer">
                    </div>
                </div>
                <div class="w-500 text p-20 xsm:w-screen xsm:p-4">
                    <h1 class="text-4xl font-extrabold max-w-72 xsm:text-3xl">ELEGENT HOUSE</h1>
                    <div class="specs flex">
                        <div class="flex justify-items-center">
                            <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                    class="material-symbols-sharp text-skyblue">
                                    bed
                                </span></div>4
                        </div>
                        <div class=" flex justify-items-center ml-4">
                            <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                    class="material-symbols-sharp text-skyblue">
                                    bathtub
                                </span></div>2
                        </div>
                        <div class=" flex justify-items-center ml-4">
                            <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                    class="material-symbols-sharp text-skyblue">
                                    zoom_out_map
                                </span></div>1500 sq
                        </div>
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias consequatur in odit beatae
                        itaque consequuntur enim? Veritatis, qui! Amet, molestiae modi! Beatae, iure quia unde vero
                        magnam id enim asperiores itaque saepe quibusdam deserunt illo autem officia iste, rem modi
                        voluptatum fuga, architecto distinctio quod.</p>
                        <div class="xsm:flex xsm:justify-center xsm:mb-4">
                    <button class="bg-btncolor text-white w-48 h-12 rounded-full mt-12">View Details</button></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container flex justify-around xsm:grid xsm:grid-cols-1">
                <div class="w-500 text p-20 xsm:w-screen xsm:p-4">
                    <h1 class="text-4xl font-extrabold max-w-72 xsm:text-3xl">BEST APARTMENTS NEAR YOU</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias consequatur in odit beatae
                        itaque consequuntur enim? Veritatis, qui! Amet, molestiae modi! Beatae, iure quia unde vero
                        magnam id enim asperiores itaque saepe quibusdam deserunt illo autem officia iste, rem modi
                        voluptatum fuga, architecto distinctio quod.</p>
                        <div class="xsm:flex xsm:justify-center xsm:mb-4">
                    <button class="bg-btncolor text-white w-48 h-12 rounded-full mt-12">Explore</button></div>
                </div>
                <div class="images flex justify-center xsm:order-first xsm:w-screen">
                    <img class="w-500" src="/assests/house-6.jpg" alt="">
                </div>
            </div>
        </section>
        <section id="popular">
            <div class="heading text-center text-5xl mt-8 p-10 font-extrabold">
                POPULAR
            </div>
            <div class="flex items-center justify-around xsm:grid xsm:w-screen">
                <div class="house-cards grid grid-cols-2 gap-8 xsm:grid-cols-1">
                    <div class="card hover:cursor-pointer xsm:p-5">
                        <img class="w-96 h-64 rounded-2xl" src="/assests/house-4.jpg" alt="">
                        <h1 class="text-3xl font-extrabold">$100,000</h1>
                        <p>Lorem ipsum dolor</p>
                        <div class="specs flex">
                            <div class="flex justify-items-center">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bed
                                    </span></div>4
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bathtub
                                    </span></div>2
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        zoom_out_map
                                    </span></div>1500 sq
                            </div>
                        </div>
                    </div>
                    <div class="card hover:cursor-pointer xsm:p-5">
                        <img class="w-96 h-64 rounded-2xl" src="/assests/house-7.jpg" alt="">
                        <h1 class="text-3xl font-extrabold">$100,000</h1>
                        <p>Lorem ipsum dolor</p>
                        <div class="specs flex">
                            <div class="flex justify-items-center">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bed
                                    </span></div>4
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bathtub
                                    </span></div>2
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        zoom_out_map
                                    </span></div>1500 sq
                            </div>
                        </div>
                    </div>
                    <div class="card hover:cursor-pointer xsm:p-5">
                        <img class="w-96 h-64 rounded-2xl" src="/assests/house-8.jpg" alt="">
                        <h1 class="text-3xl font-extrabold">$100,000</h1>
                        <p>Lorem ipsum dolor</p>
                        <div class="specs flex">
                            <div class="flex justify-items-center">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bed
                                    </span></div>4
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bathtub
                                    </span></div>2
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        zoom_out_map
                                    </span></div>1500 sq
                            </div>
                        </div>
                    </div>
                    <div class="card hover:cursor-pointer xsm:p-5">
                        <img class="w-96 h-64 rounded-2xl" src="/assests/house-9.jpg" alt="">
                        <h1 class="text-3xl font-extrabold">$100,000</h1>
                        <p>Lorem ipsum dolor</p>
                        <div class="specs flex">
                            <div class="flex justify-items-center">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bed
                                    </span></div>4
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        bathtub
                                    </span></div>2
                            </div>
                            <div class=" flex justify-items-center ml-4">
                                <div class="bg-gcolor mr-1 w-8 h-7 p-0.5 text-center rounded-lg"><span
                                        class="material-symbols-sharp text-skyblue">
                                        zoom_out_map
                                    </span></div>1500 sq
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-card ml-20 w-80 h-screen bg-skyblue rounded-xl xsm:m-5">
                    <h1 class="text-4xl font-bold p-8">THE MOST INTERESTING UNUSUAL AND NEW OFFERS.</h1>
                    <P class="pl-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, veniam.</P>
                    <form class="p-8" action="">
                        <input
                            class="bg-transparent border-slate w-64 h-9 border-2 mt-40 rounded-full text-left p-4 placeholder:text-black"
                            type="email" placeholder="Email address" name="mail" required>

                        <input class="bg-white w-64 h-9 mt-3 rounded-full cursor-pointer" type="submit"
                            value="Subscribe">

                    </form>
                </div>
            </div>
        </section>
        <section id="testimonial" class="bg-t_bg_color">
            <div class="heading text-center text-5xl mt-20 pt-20 font-extrabold ">
                TESTIMONIALS
            </div>
            <div class="ml-20 max-w-[1340px] px-4 py-12 sm:px-6 lg:me-0 lg:py-16 lg:pe-0 lg:ps-8 xl:py-12 xsm:m-8">
                <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:items-center lg:gap-16">
                    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                            Don't just take our word for it...
                        </h2>

                        <p class="mt-4 text-gray-700">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas veritatis illo placeat
                            harum porro optio fugit a culpa sunt id!
                        </p>

                        <div class="hidden lg:mt-8 lg:flex lg:gap-4">
                            <button aria-label="Previous slide" id="keen-slider-previous-desktop"
                                class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="h-5 w-5 rtl:rotate-180">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 19.5L8.25 12l7.5-7.5" />
                                </svg>
                            </button>

                            <button aria-label="Next slide" id="keen-slider-next-desktop"
                                class="rounded-full border border-rose-600 p-3 text-rose-600 transition hover:bg-rose-600 hover:text-white">
                                <svg class="h-5 w-5 rtl:rotate-180" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="-mx-6 lg:col-span-2 lg:mx-0 xsm:w-80">
                        <div id="keen-slider" class="keen-slider">
                            <div class="keen-slider__slide">
                                <blockquote
                                    class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12">
                                    <div>
                                        <div class="flex gap-0.5 text-yellow-500">
                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>
                                        </div>

                                        <div class="mt-4">
                                            <p class="text-2xl font-bold text-black sm:text-3xl">Awesome</p>

                                            <p class="mt-4 leading-relaxed text-gray-700">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia,
                                                aperiam ipsam eos blanditiis iure aliquid molestias possimus atque.
                                                Dolorem molestias, vel eius inventore dolor quasi quod nostrum quidem ex
                                                esse ipsa velit saepe fugit vero quos recusandae ullam. Fugiat, dolores
                                                nihil. Recusandae unde adipisci ducimus?
                                            </p>
                                        </div>
                                    </div>

                                    <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                                        &mdash; XYZ
                                    </footer>
                                </blockquote>
                            </div>

                            <div class="keen-slider__slide">
                                <blockquote
                                    class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12">
                                    <div>
                                        <div class="flex gap-0.5 text-yellow-500">
                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>
                                        </div>

                                        <div class="mt-4">
                                            <p class="text-2xl font-bold text-black sm:text-3xl">Awesome</p>

                                            <p class="mt-4 leading-relaxed text-gray-700">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam qui
                                                ratione ad et consequuntur fugiat quisquam ex minima, vitae maiores
                                                assumenda ducimus provident dolorem, quaerat quae, error dolorum
                                                perspiciatis hic! Eius, voluptatum commodi! Dolorem explicabo sint
                                                tempore harum deleniti repellendus sequi asperiores est ex ab.
                                            </p>
                                        </div>
                                    </div>

                                    <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                                        &mdash; XYZ
                                    </footer>
                                </blockquote>
                            </div>

                            <div class="keen-slider__slide">
                                <blockquote
                                    class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 lg:p-12">
                                    <div>
                                        <div class="flex gap-0.5 text-yellow-500">
                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>

                                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                                            </svg>
                                        </div>

                                        <div class="mt-4">
                                            <p class="text-2xl font-bold text-black sm:text-3xl">Awesome</p>

                                            <p class="mt-4 leading-relaxed text-gray-700">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quos
                                                temporibus eos delectus dolorum, veniam quidem nisi vel sint sequi
                                                numquam ad, quod consequatur rerum commodi dolore. Voluptatibus nihil,
                                                omnis voluptates magni obcaecati totam error aperiam hic delectus? Animi
                                                ipsam perferendis quae possimus natus odio.
                                            </p>
                                        </div>
                                    </div>

                                    <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                                        &mdash; XYZ
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-8 flex justify-center gap-4 lg:hidden">
                    <button aria-label="Previous slide" id="keen-slider-previous"
                        class="rounded-full border border-rose-600 p-4 text-rose-600 transition hover:bg-rose-600 hover:text-white">
                        <svg class="h-5 w-5 -rotate-180 transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </button>

                    <button aria-label="Next slide" id="keen-slider-next"
                        class="rounded-full border border-rose-600 p-4 text-rose-600 transition hover:bg-rose-600 hover:text-white">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="foot grid grid-cols-4 gap-12 p-12 xsm:grid-cols-1">
            <div>
                <ul>
                    <li class="h-12"><img src="/assests/home-pin.svg" alt="logo"></li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, id, accusamus consectetur
                        magni ex cum, minus impedit totam itaque corrupti perspiciatis fuga molestiae! Distinctio
                        architecto, dolores velit recusandae in cupiditate quis quos explicabo unde soluta ipsa impedit
                        exercitationem qui error placeat commodi? Ratione est natus ipsum unde numquam consectetur
                        quasi.</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text-f_text_color h-12 text-2xl font-extrabold">Quick Links</li>
                    <li>Home</li>
                    <li>About</li>
                    <li>Service</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text-f_text_color h-12 text-2xl font-extrabold">Services</li>
                    <li>About Us</li>
                    <li>Blogs & Articles</li>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li class="text-f_text_color h-12 text-2xl font-extrabold">Contact</li>
                    <li>Address: India</li>
                    <li>Phone: 1234567890</li>
                    <li>Email: abc@xyz.com</li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/scripts/testimonial.js" type="module"></script>
</body>

</html>